.vscode/settings.json
wiki/encyclopedia/__pycache__/__init__.cpython-310.pyc
wiki/encyclopedia/__pycache__/admin.cpython-310.pyc
wiki/encyclopedia/__pycache__/apps.cpython-310.pyc
wiki/encyclopedia/__pycache__/models.cpython-310.pyc
wiki/encyclopedia/__pycache__/urls.cpython-310.pyc
wiki/encyclopedia/__pycache__/util.cpython-310.pyc
wiki/encyclopedia/__pycache__/views.cpython-310.pyc
wiki/encyclopedia/migrations/__pycache__/__init__.cpython-310.pyc
wiki/wiki/__pycache__/__init__.cpython-310.pyc
wiki/wiki/__pycache__/settings.cpython-310.pyc
wiki/wiki/__pycache__/urls.cpython-310.pyc
wiki/wiki/__pycache__/wsgi.cpython-310.pyc
